@use "../global/" as g;

.wp-pagenavi {
    display: flex;
    justify-content: center;
    margin-top: 10vh;
    margin-bottom: 5vh;
    font-weight: bold;
    font-size: 2em;

@include g.breakpoint (tablet) {
    margin-top: 13vh;
    margin-bottom: 3vh;
}
@include g.breakpoint (sp) {
    display: none;

}
& > span {
    background-color: #fff;
}
& > a {
    background-color: #fff;
}
}

span.pages{
    border: none;
    background-color: #FFFDFA;
}

a.previouspostslink {
    border: none;
}

a.nextpostslink {
    border: none;
}